<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="techproed.utilities.Listeners"></listener>
    </listeners>


    <test verbose="2" preserve-order="true"
          name="Listener xml uzerinden calistirma">
        <classes>
            <class name="techproed.tests.day26_listeners.C02_ListenerTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                    <include name="test03"/>
                    <include name="test04"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>